# Python bytecode
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Virtual environment
myenv/
venv/
.venv/

# Postgres / Database local data
pg_data/
*.sql.bak
dump.rdb

# App-specific secrets
.env.local
.env.*.local

# Testing
.pytest_cache/
.coverage
htmlcov/

# MyPy / Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Python cache
__pycache__/
*.pyc
uploads/leads/*
uploads/properties/*
